<%= @currently_hashed %>
<h1>Should I take an umbrella?</h1>

<dl>
  <dt>User's Location</dt>
  <dd><%= @user_location%></dd>

  <dt>Latitude</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude</dt>
  <dd><%= @longitude%></dd>

  <dt>Current Temperature</dt>
  <dd><%= @current_temp%></dd>

  <dt>Current Summary</dt>
  <dd><%= @summary%></dd>

  <dt>Umbrella</dt>
  <dd><%= @umbrella_needed%></dd>
</dl>

<a href="/umbrella">Go back</a>
